* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.header {
    font-size: 48px;
    font-weight: 700px;
    text-align: center;
    padding: 3rem 0;
}

#body {
    height: 400px;
    text-align: center;
}

#heroImage {
    background-image: url(../assets/body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: auto;
}

.tabs {
    padding: 3rem 0;
}

.tabs > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}